/* example css */

.reveal section.title h1 {
    font-size: 2.8em;
}

/* top align
.reveal .slides section:not(.title) {
    top: 0 !important;
}
*/

.reveal h2 {
    font-size: 2.2em;
}

.reveal a {
    color: #22c3a1;
}

p {
    font-size: 0.8em;
}

.slides {
    overflow: scroll !important;
    pointer-events: auto !important;
}
